.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage{
position: relative;
}
.Homerows{
  width:25vw;
  height: 100vh;
object-fit:cover;
position: absolute;
}
@media only screen and (max-width:480px){
  .Homerows{
    width:100vw;
    height: 100vh;
    position: relative;
  }
  .row1,.row2,.row3,.row4
  {
    left: 0% !important;
  }
  .row1:hover,.row2:hover,.row3:hover,.row4:hover
  {
    left: 0% !important;
    width: 100vw !important;
  }
}
.row1{
  transition: ease-in 300ms;
  left:0%
}
.row2{
  transition: ease-in 300ms;
  left:25%;
  top:0;
  height:101vh;

}
.row3{
  transition: ease-in 300ms;
  left:50%
}.row4{
  transition: ease-in 300ms;
  left: 75%;
}
.row1:hover{
  width: 30vw;
  z-index: 10;
  left: 0%;
}.row2:hover{
  width: 30vw;
  z-index: 10;
}.row3:hover{
  width: 30vw;
  z-index: 10;
}.row4:hover{
  width: 30vw;
  left:70%;
  z-index: 10;
}
.noscrollbar::-webkit-scrollbar {
  display: none;
}
.clientlogo{
 
  filter: grayscale(100%);
}
.social{
  text-decoration: underline;
}