.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homepage{
position: relative;
}
.Homerows{
  height: 100vh;
object-fit:cover;
position: absolute;
box-shadow:-1px 0px 6px 4px rgb(4 1 1 / 47%)

}
.row1{
  transition: ease-in 300ms;
width: 30%; 
 left:0%;
height:101vh;

}
.row2{
  transition: ease-in 300ms;
  left:25%;
  width: 30%; 

  top:0;
  height:101vh;
  /* z-index: 100; */

}
.row3{
  transition: ease-in 300ms;
    /* z-index: 100; */
    height:101vh;
    width: 30%; 


  left:50%
}.row4{
  transition: ease-in 300ms;
  height:101vh;
  width: 30%;

  left: 75%;
}
.row1:hover{
  width: 30vw;
  /* z-index: 10; */
  left: 0%;
}
.row2:hover{
  /* width: 30vw; */
  /* z-index: 10; */
}
.row3:hover{
  /* width: 30vw; */
  /* z-index: 10; */
}.row4:hover{
  /* width: 30vw; */
  left:73%;
  /* z-index: 10; */
}
.hamburger-react{
  z-index: 111;
}
@media only screen and (max-width:480px){
  .sidebarr{
    width:fit-content;
    top: -80px;
  }
  .bhm{display:block;z-index:1111;}
  .dd{
    object-fit: contain;
  }
  .homepage{
    display: flex;
    flex-direction: row;
    height: 100vh;

    flex-wrap: wrap;
    background-color: #61dafb;
  }
  .Homerows{
    width:100vw;
    height: 100vh;
    position: relative;
    user-select: none;
   
    /* object-fit: contain; */
  }
  .row1,.row2,.row3,.row4
  {
    left: 0% !important;
    width: 50vw;
    margin: auto;
    height: 50vh;
    /* object-fit: contain; */
    /* height: 100px !important; */
  }
  .row1:hover,.row2:hover,.row3:hover,.row4:hover
  {
    left: 0% !important;
    width: 100vw !important;
  }
}


.noscrollbar::-webkit-scrollbar {
  display: none;
}
.clientlogo{
 
  filter: grayscale(10%);
}
.social{
  text-decoration: underline;
}
.sidebarr{
  height: 100vh;
}
.bhm{
  display: none;
}

.bi-instagram,.bi-linkedin,.bi-dribbble,.bi-behance,.bi-envelope-fill{
fill:black;
margin: 8px;}
.bi-instagram:hover{
  fill: #CCCCCC;
  /* background-color: red; */

}
.bi-linkedin:hover{
  fill: #CCCCCC;
}
.bi-dribbble:hover{
  fill: #CCCCCC;
}
.bi-behance:hover{
  fill: #CCCCCC;
}
.bi-envelope-fill:hover{
  fill: #CCCCCC;
}
